.breadcrumbs {
  background-color: var(--primary-background);
  font-size: .75rem;
  display: flex;
  padding: 1rem 0;
  width: 100%;
}

@media all and (min-width: 1025px) {
  .breadcrumbs {
    margin-left: calc(var(--main-side-menu-width) + 1rem);
    padding: 1rem 1rem;
  }
}

.breadcrumbs > * {
  width: 100%;
}

@media all and (min-width: 1025px) {
  .breadcrumbs > * {
    width: auto;
  }
}

.breadcrumb--last {
  font-weight: 700;
}

.breadcrumb:not(.breadcrumb--last) {
  cursor: pointer;
}

.breadcrumb:not(.breadcrumb--last):hover {
  text-decoration: underline;
}
