.alertBanner {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: .25rem;
  width: 240px;

  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

.alertBanner--success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}

.alertBanner--error {
  background-color: var(--alert-color);
  color: var(--alert-text-color);
}