
.recipeAccordion {
  overflow: hidden;
  border-radius: 10px;
}

.recipeAccordion__header {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
}

.recipeAccordion__header--draft {
  background-color: var(--grey);
}

.recipeAccordion:not(:last-child) {
  margin-bottom: .5rem;
}

.recipeAccordion__content {
  z-index: 0;
}

.recipeAccordion__recipeStatus {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: .5rem;
  margin-right: .5rem;
}