.editableField {
  min-width: 160px;
}

.editableField--text {
  line-height: 1.2rem;
}

.editableField--h1 {
  line-height: 2rem;;
}

.editableField__edit {
  border: var(--input-border);
  padding: .5rem .25rem;
}

.editableField__container--center {
  display: flex;
  justify-content: center;
}

.editableField--center {
  text-align: center;
}

.editableField--clickable {
  cursor: pointer;
}

.editableField__container {
  position: relative;
  margin-bottom: .25rem;
}

.editableField__options {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  top: 100%;
}

.editableField__option {
  padding: .5rem .25rem;
  cursor: pointer;
}

.editableField__option:hover {
  background-color: var(--text-hover);
}

.editableField__innerContainer {
  display: flex;
}