.fullWidthContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.fullWidthContainer--centered:not(.fullWidthContainer--stack) {
  justify-content: center;
}

.fullWidthContainer--stack {
  flex-direction: column;
}

.fullWidthContainer--stack > * {
  margin-bottom: .5rem;
}

.fullWidthContainer--stack.fullWidthContainer--centered {
  align-items: center;
}

.fullWidthContainer--spaceBetween {
  justify-content: space-between;
}
