
.select {
  --select-caret-size: 1rem;

  width: 170px;
  position: relative;
  text-align: center;
  height: var(--edit-field-min-height);
}

.select--error .select__input {
  border: 1px solid var(--alert-color);
  color: var(--alert-color);
}

.select__input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: .5rem .25rem;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.select__content {
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: var(--select-shadow);
}

.select__options {
  max-height: 300px;
  overflow-y: auto;
}

.select__option {
  padding: .5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.select__option:hover,
.select__addOption {
  background-color: var(--light-grey);
}

.select__inputText {
  padding-left: var(--select-caret-size);
  flex: 1;
  line-height: 1;
}

.select__caret {
  width: var(--select-caret-size);
  height: var(--select-caret-size);
  transition: transform 0.15s;
}

.select__caret--open {
  transform: rotate(180deg); 
}

.select__caret--open {
  transform: 
}

.select__search {
  box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
  text-align: center;
  width: 100%;
}
