.ingredientList {
  height: 100%;
  /* flex-shrink: 0; */
}

.ingredientList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientList__header input {
  text-align: center;
}
