.ingredientList {
  height: 100%;
}

.ingredientList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.75rem;
}

.ingredientList__header input {
  text-align: center;
}
