.logo {
  position: sticky;
  top: 0;
  z-index: 10;
}

@media all and (min-width: 1025px) {
  .logo {
    padding: 1rem 0;
  }
}

.logoTitle {
  padding: .5rem;
  height: var(--top-content-height);
  text-align: center;
}