.tabs__content {
  max-width: 1024px;
}

.tab {
  padding: .75rem;
  cursor: pointer;
  padding: .5rem;
}

.tab h3 {
  opacity: .3;
  transition: opacity .1s, transform .1s;
}

.tab--selected h3 {
  opacity: 1;
}

.tab h3:hover {
  transform: scale(0.95);
}
