.stepList {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
}

@media all and (min-width: 1024px) {
  .stepList {
    max-width: 50%;
  }
}

.stepList__popup {
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  z-index: 1;
  box-shadow: var(--box-shadow);
}
