.recipeCard {
  text-align: center;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  border-radius: .5rem;
  height: 100%;
}

.recipeCard__image {
  height: 150px;
}

.recipeCard__image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.recipeCard__image--default {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: var(--light-grey);
  color: var(--grey);
}

.recipeCard__content {
  padding-bottom: .5rem;
}

.recipeCard__content > * {
  padding: .5rem .5rem 0;
}

.recipeCard__name {
  font-weight: 600;
  font-size: .9rem;
}

.recipeCard__description {
  max-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}