.groceryList__ingredient__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groceryList__checkedItems {
  opacity: .8;
}

.groceryList__checkedItems .accordion__header {
  background-color: var(--secondary-color);
}

.groceryList__header {
  margin-bottom: .5rem;
  position: relative;
  padding: 0 1rem;
}
