.recipeList {
  display: grid;
  grid-template-columns: repeat(6, minmax(250px, 250px) );
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: minmax(50px,250px);
}

.recipeListView {
  margin: inherit auto;
}

.recipeFilter__accordion {
  margin-right: 1rem;
}

.recipeFilter__accordion .accordion__header {
  justify-content: center;
}