.sideMenuLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sideMenuLayout__sideMenu {
  padding: 0 1rem;
  width: 20rem;
}

.sideMenuLayout__activeView {
  display: flex;
  justify-content: center;
}

.sideMenuLayout__sideMenuOption__count {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  font-weight: 700;
  background: var(--primary-color);
  color: #fff;
  font-size: .9rem;
}

.sideMenuLayout__sideMenuOption:hover .sideMenuLayout__sideMenuOption__count,
.sideMenuLayout__sideMenuOption--selected .sideMenuLayout__sideMenuOption__count {
  border: 1px solid #fff;
  background: #fff;
  color: var(--primary-color);
}