.sideMenuLayout {
  width: 100%;
  display: flex;
}

.sideMenuLayout__sideMenu {
  box-shadow: 1px 0px 5px rgba(0,0,0,0.25);
}

.sideMenuLayout__activeView {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.sideMenuLayout__activeView > * {
  max-width: 1024px;
  width: 100%;
}

.sideMenuLayout__sideMenuOption {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid var(--light-grey);
}

.sideMenuLayout__sideMenuOption:not(.sideMenuLayout__sideMenuOption--disabled) {
  cursor: pointer;
}

.sideMenuLayout__sideMenuOption--selected,
.sideMenuLayout__sideMenuOption:hover:not(.sideMenuLayout__sideMenuOption--disabled) {
  color: var(--primary-text-color);
}

.sideMenuLayout__sideMenuOption--selected {
  background-color: var(--primary-color-lighter);
}

.sideMenuLayout__sideMenuOption:hover:not(.sideMenuLayout__sideMenuOption--disabled) {
  background-color: var(--primary-color);  
}

.sideMenuLayout__sideMenuOption--disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  font-style: var(--disabled-text-style);
}

.sideMenuLayout__sideMenuOption__count {
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  font-weight: 700;
  background: var(--primary-color);
  color: #fff;
  font-size: .9rem;
}

.sideMenuLayout__sideMenuOption:hover .sideMenuLayout__sideMenuOption__count,
.sideMenuLayout__sideMenuOption--selected .sideMenuLayout__sideMenuOption__count {
  border: 1px solid #fff;
  background: #fff;
  color: var(--primary-color);
}