.mainView {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* padding-top: var(--header-height); */
  position: relative;
  background-color: var(--primary-background);
  padding: 0 1rem;
}

@media all and (min-width: 1025px) {
  .mainView {
    flex-direction: row;
    padding: 0;
  }
}

.mainView > *:not(.alertBannerView):not(.modalWrapper) {
  margin-top: 2rem;
  margin-right: 1rem;
}