.recipe {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipe__main {
  padding: 1rem .5rem;
  margin-bottom: .5rem;
}

@media all and (min-width: 640px) {
  .recipe__description,
  .recipe__imageUpload,
  .recipe__imageGallery {
    width: 50%;
  }
}

.recipe__name,
.recipe__description {
  text-align: center;
}

.recipe__saveToCollectionIcon {
  margin-right: .25rem;
}

.recipe__time {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.recipe__time svg {
  margin-right: .5rem;
}
