.recipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.recipe__name,
.recipe__description,
.recipe__imageUpload,
.recipe__imageGallery {
  width: 50%;
}

.recipe__name,
.recipe__description {
  text-align: center;
}

.recipe__time {
  display: flex;
  align-items: center;
}

.recipe__time > * {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.recipe__time svg {
  margin-right: .5rem;
}
