.imageGallery {
  display: flex;
  position: relative;
  overflow: hidden;
}

.imageGallery__arrowContainer {
  width: 2rem;
  display: flex;
  flex-shrink: 0;
  background-color: #fff;
  z-index: 1;
}

.imageGallery__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 3rem;
}

.imageGallery__arrow--right {
  right: 0;
}

.imageGallery__images {
  display: flex;
  overflow: hidden;
}

.imageGallery__slide {
  width: 100%;
  height: 100%;
}

.imageGallery img {
  width: 100%;
  height: 100%;
}

.imageGallery__images__innerContainer {
  display: flex;
  transform: translateX(-100%);
}