.groceryListItem {
  display: flex;
  align-items: center;
}

.groceryListItem--checked {
  opacity: .25;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.groceryListItem__content {
  flex: 1;
  text-align: left;
}

.groceryListItem__content input {
  width: 100%;
}

.groceryListItem__buttons {
  margin: 0 .5rem;
}

.groceryListItem__name {
  font-size: .75rem;
  cursor: pointer;
}

.groceryListItem .checkbox__wrapper {
  margin-right: .75rem;
}
