.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 50%;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal--large {
  min-height: 80vh;
  min-width: 768px;
}

.modal__header {
  display: flex;
  padding: .75rem 2rem .75rem 0;
  box-shadow: var(--box-shadow);
  position: relative;
  height: 3rem;
}

.modal__headerTitle {
  width: var(--modal-side-menu-width);
  text-align: center;
  padding: 0 .5rem;
}

.modal__closeIcon {
  position: absolute;
  right: 0;
  padding: 0 .5rem;
  cursor: pointer;
}

.modal__closeIcon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.modal__closeIcon:hover {
  opacity: .5;
}

.modal > *:not(.modal__header) {
  flex: 1;
  display: flex;
}

.modal__sideMenu {
  width: var(--modal-side-menu-width);
  box-shadow: var(--modal-side-menu-shadow);
  background-color: var(--primary-background);
  color: #fff;
}

.modal__sideMenu__option {
  text-align: center;
  width: 100%;
  padding: .5rem;
  cursor: pointer;
}

.modal__sideMenu__option:not(:last-child) {
  border-bottom: var(--modal-side-menu-border);
}

.modal__sideMenu__option:hover {
  opacity: .7;

}

.modal__content {
  padding-top: 1rem;
}