.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 50%;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal--large {
  min-height: 80vh;
  min-width: 768px;
}

.modal__header {
  display: flex;
  justify-content: center;
  padding: .75rem 2rem;
  box-shadow: var(--box-shadow);
  position: relative;
  height: 3rem;
}

.modal--withSideMenu .modal__header {
  padding-left: var(--modal-header-left-padding);
} 

.modal__closeIcon {
  position: absolute;
  right: 0;
  padding: 0 .5rem;
  cursor: pointer;
}

.modal__closeIcon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.modal__closeIcon:hover {
  opacity: .5;
}

.modal > *:not(.modal__header) {
  flex: 1;
}

.modal__sideMenu {
  width: var(--modal-side-menu-width);
}