.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 50%;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal--large {
  min-height: 80vh;
  min-width: 768px;
}