.adminDashboard {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adminDashboard__pieMode {
  display: flex;
  justify-content: center;
}

.adminDashboard__pieMode .pieContainer {
  padding: 0 2rem;
}

.adminDashboard__viewModeOptions {
  display: flex;
  justify-content: flex-end;
  max-width: 1024px;
  width: 100%;
}

.adminDashboard__viewModeOption {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin-right: .25rem;
}

.adminDashboard__viewModeOption--disabled {
  background-color: var(--grey);
}

