* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, 
body,
#root {
  height: 100%;
}

a {
  color: var(--primary-color);
  font-size: .8rem;
  cursor: pointer;
}

a:hover {
  color: var(--primary-color-lighter);
}

.error {
  background-color: var(--alert-color);
  color: var(--alert-text-color);
}

.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}

.error, 
.success {
  font-size: .8rem;
  font-style: italic;
  padding: 0.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

button {
  border: none;
  box-sizing: border-box;
  padding: .5rem 1rem;
  font-size: .9rem;
  cursor: pointer;
}

div[contenteditable] {
  font-size: 13.3333px;
}

input,
textarea {
  border: none;
  padding: .5rem .25rem; 
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, .07);
  transition: box-shadow .5s;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: none;
  outline-style: none;
  box-shadow: 0px 4px 2px -2px rgba(73, 100, 255, .5);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.list {
  padding: 1rem;
}

.list > *:not(:last-child) {
  margin-bottom: .5rem;
}

button:hover {
  opacity: .7;
}