* {
  box-sizing: border-box;
  font-family: 'Noto Sans HK', Arial, Helvetica, sans-serif;
}

html, 
body,
#root {
  height: 100%;
  background-color: var(--primary-background);
  overflow-x: hidden;
}

a {
  color: black !important;
  cursor: pointer;
}

a:hover {
  color: var(--primary-color-lighter);
}

.error {
  background-color: var(--alert-color);
  color: var(--alert-text-color);
}

.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}

.error, 
.success {
  font-size: .8rem;
  font-style: italic;
  padding: 0.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  font-family: 'Lato', serif;
}

h2 {
  font-size: 1.4rem;
}

.clickable {
  cursor: pointer;
}

button {
  border: none;
  box-sizing: border-box;
  padding: .5rem 1rem;
  height: 2.75rem;
  font-size: .9rem;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

button.selected,
.clickable.selected {
  background-color: var(--primary-color);  
  color: var(--primary-text-color);
}

button.disabled,
.clickable.selected {
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  font-style: var(--disabled-text-style);
}

button:not(:last-child) {
  margin-bottom: .5rem;
}

button.create {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

button.create svg {
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;;
}

button.remove {
  background-color: var(--alert-color);
  color: var(--alert-text-color);
}

button.favorite {
  background-color: var(--favorite-color);
  color: var(--favorite-text-color);
}

.fullWidth {
  width: 100%;
}

div[contenteditable] {
  font-size: 13.3333px;
}

input,
textarea {
  border: none;
  padding: .5rem 0rem; 
  transition: border-bottom .5s;
}

input[type=text] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.list {
  padding: 1rem;
}

.list > *:not(:last-child) {
  margin-bottom: .5rem;
}

button:hover {
  opacity: .7;
}

.hover:hover {
  opacity: .7;
  color: var(--primary-color-lighter);
}

.removeButton {
  background-color: var(--alert-color);
  color: #fff;
  padding: .25rem;
  display: flex;
  align-items: center;
  transition: opacity .1s;
  cursor: pointer;
}

.removeButton:hover {
  opacity: .7;
}

.removeButton svg {
  transition: transform .1s;
}

.removeButton:hover svg {
  transform: scale(1.15);
}

.removeButton--inverted {
  color: var(--alert-color);
  background-color: transparent;
  width: 2rem;
}

.removeButton--inverted svg {
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color:#fff;
}

a:hover {
  color:#fff;
  opacity: .7;
}

.boxShadow {
  box-shadow: var(--box-shadow);
}

.background {
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  max-width: 1024px;
}

.box {
  padding: 1rem;
}

.boxDivider {
  margin: .75rem -1rem;
  height: 1px;
  box-shadow: var(--box-shadow-thin);
}

.square {
  height: 5em;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  margin: .5rem 0;
}

.square:not(:last-child) {
  margin-right: 1rem;
}

.square:hover {
  opacity: .7;
}

.shadow {
  box-shadow: 1px 1px 2px 1px  rgba(0, 0, 0, .15);
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
}

.flex.vcenter {
  align-items: center;
}

.flex.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.column {
  flex-direction: column;
}

.viewMaxWidth {
  max-width: 1024px;
  width: 100%;
}

.marginBottom {
  margin-bottom: .5rem;
}
